*, *::before, *::after {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gilroy';
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 12px;
  height: 7px;
  margin-right: 2px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #1A236E 43%, #1A236E 49%);
  border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #1A236E 14%, #1A236E 64%);
}

html::-webkit-scrollbar-track {
  background: rgba(245, 245, 245, 0.88);
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
  box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}
.uk-section {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.nav-item {
  padding-bottom: 4px;
}
.nav-item.active {
  border-bottom: 3px solid #CD1527;
}
.uk-offcanvas-overlay.uk-open::before {
  background: rgba(17, 17, 17, 0.32);
  backdrop-filter: blur(5px);
}
.uk-offcanvas-flip .uk-offcanvas-bar {
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(102px);
  width: 50%;
}
.uk-offcanvas-flip .uk-offcanvas-bar::-webkit-scrollbar {
  display: none;
}
.uk-offcanvas-flip .uk-offcanvas-bar a {
  color: #000;
  font-weight: 500;
  font-size: 36px;
}
.nav-content-bottom-context {
  width: 500px;
}
.nav-item-mini-link {
  font-size: 18px !important;
  color: #1A236E !important;
}
.nav-lang-links-wrapper li a {
  color: #444 !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
.nav-lang-links-wrapper li a.active {
  color: #CD1527 !important;
  border-bottom: 2px solid #CD1527;
}
.navbar .uk-offcanvas-close {
  position: static;
  padding: 0;
}
.navbar .uk-offcanvas-close svg:nth-child(2)  {
  display: none;
}
.nav-content-contact-link a {
  font-size: 18px !important;
}
.digitals-section-wrapper {
  background: linear-gradient(91.78deg, #1A236E 0%, #0E1764 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #fff;
}
// main page start
.speciality-img-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(17, 17, 17, 0.42) 0%, rgba(14, 23, 100, 0.2646) 100%);
}
.form-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.72;
  font-weight: lighter;
}
.footer-ractangle-img-wrapper {
  right: -85px;
  top: -55px;
}
// main page end
// about page start
.about-main-content-wrapper {
  margin-left: 140px;
}
.about-goal-content-wrapper {
  margin-left: 140px;
}
.about-ractagnel-bottom-img-wrapper {
  bottom: -310px;
  right: 180px;
}
// about page end
.address-section .uk-nav-default  {
  width: 100%;
}

.address-section {
  .uk-nav-default>li>a {
    padding: 20px 25px;
    font-size: 24px;
    color: #111;
    font-weight: 500;
  }
  .uk-nav-default>li {
    margin-top: 0 !important;
  }
  ul.uk-nav-sub {
    padding-left: 22px;
    padding-right: 22px;
  }
  .uk-nav-parent-icon>.uk-parent>a::after {
    background-image: none;
    background-image: url('../img/svg/arrow-bottom.svg');
  }
  .uk-nav-parent-icon>.uk-parent.uk-open>a::after {
    background-image: url('../img/svg/arrow-bottom.svg');
    transform: rotate(180deg);
  }
}
.news-big-images-wrapper li {
  display: none;
}
.news-big-images-wrapper li.active {
  display: block;
}
// Responsive design start
@media (max-width: 1820px) {
  .main-main-img-wrapper img {
    width: 900px;
    height: auto;
  }
  .speciality-ractangle-img-wrapper {
    left: -45px;
  }
  .about-ractangle-img-wrapper {
    left: -50px;
  }
}
@media (max-width: 1700px) {
  .main-main-img-wrapper {
    bottom: -150px;
  }
  .main-main-img-wrapper img {
    width: 860px;
    height: auto;
  }
  .main-top-left-rectangle img {
    width: 520px;
  }
  .nav-content-bottom-context {
    width: 100%;
  }
  .digitals-ractangle-img-wrapper {
    left: -190px;
  }
  .advantage-ractangle-img-wrapper {
    right: -200px;
  }
  .speciality-ractangle-img-wrapper {
    left: -105px;
  }
  .about-ractangle-img-wrapper {
    left: -110px;
  }
}
@media (max-width: 1600px) {
  .main-main-section .uk-container {
    margin-top: 160px;
  }
  .main-main-img-wrapper img {
    width: 800px;
    height: auto;
  }
  .digitals-ractangle-img-wrapper {
    left: -230px;
  }
  .speciality-ractangle-img-wrapper {
    left: -195px;
  }
  .speciality-squar-img-wrapper {
    right: -170px;
  }
  .about-ractangle-img-wrapper {
    left: -160px;
  }
}
@media (max-width: 1550px) {
  .digitals-ractangle-img-wrapper {
    left: -267px;
  }
  .advantage-ractangle-img-wrapper {
    right: -280px;
  }
  .about-ractangle-img-wrapper {
    left: -190px;
  }
  .about-main-img-wrapper {
    margin-left: -170px;
  }
  .footer-ractangle-img-wrapper {
    top: -65px;
    right: -240px;
  }
}
@media (max-width: 1536px) {
  .main-top-left-rectangle img {
    width: 430px;
  }
  .main-main-img-wrapper {
    bottom: -180px;
  }
  .uk-offcanvas-flip .uk-offcanvas-bar a {
    font-size: 24px;
  }
  .nav-content-bottom {
    margin-top: 50px;
  }
  .nav-item-mini-link {
    font-size: 16px !important;
  }
  .nav-lang-links-wrapper li a {
    font-size: 16px !important;
  }
  .digitals-ractangle-img-wrapper {
    left: -230px;
  }
  .speciality-ractangle-img-wrapper {
    left: -174px;
    top: -60px;
  }
  .about-ractangle-img-wrapper {
    left: -190px;
  }
  .about-main-img-wrapper {
    margin-left: -170px;
  }
}
@media (max-width: 1500px) {
  .about-main-content-wrapper {
    margin-left: 70px;
  }
  .about-goal-content-wrapper {
    margin-left: 70px;
  }
  .about-main-img-wrapper {
    margin-left: -250px;
  }
}
@media (max-width: 1400px) {
  .main-main-img-wrapper img {
    width: 750px;
    height: auto;
  }
  .main-top-left-rectangle img {
    width: 380px;
  }
  .main-main-img-wrapper {
    bottom: -140px;
  }
  .digitals-ractangle-img-wrapper {
    left: -340px;
  }
  .advantage-ractangle-img-wrapper {
    right: -340px;
  }
  .speciality-ractangle-img-wrapper {
    left: -242px;
  }
}
@media (max-width: 1280px) {
  .main-main-img-wrapper img {
    width: 660px;
    height: auto;
  }
  .main-top-left-rectangle img {
    width: 320px;
  }
  .main-main-img-wrapper {
    bottom: -50px;
  }
  .digitals-ractangle-img-wrapper {
    left: -380px;
  }
  .advantage-ractangle-img-wrapper {
    right: -400px;
    top: -660px;
  }
  .speciality-ractangle-img-wrapper {
    left: -266px;
  }
  .about-main-content-wrapper {
    margin-left: 0px;
  }
  .about-goal-content-wrapper {
    margin-left: 0px;
  }
  .about-main-img-wrapper img {
    width: 500px;
    height: auto;
  }
}
@media (max-width: 1250px) {
  .about-main-content-wrapper {
    margin-left: 20px;
  }
  .form-img-wrapper {
    display: none;
  }
}
@media (max-width: 1200px) {
  .main-main-img-wrapper img {
    width: 600px;
    height: auto;
  }
  .main-main-img-wrapper {
    bottom: 0px;
  }
  .advantage-ractangle-img-wrapper {
    right: -460px;
    top: -740px;
  }
  .speciality-ractangle-img-wrapper {
    left: -307px;
    top: -95px;
  }
  .speciality-squar-img-wrapper {
    right: -300px;
  }
  .about-main-content-wrapper {
    margin-left: 40px;
  }
}
@media (max-width: 1130px) {
  .uk-offcanvas-flip .uk-offcanvas-bar {
    width: 90%;
  }
  .main-main-img-wrapper img {
    width: 500px;
    height: auto;
  }
  .main-main-img-wrapper {
    bottom: 50px;
  }
  .main-main-section .uk-container {
    margin-top: 100px;
  }
  .digitals-ractangle-img-wrapper {
    left: -300px;
    top: -450px;
  }
  .advantage-ractangle-img-wrapper {
    right: -460px;
  }
}
@media (max-width: 1030px) {
  .about-text-side-wrapper {
    min-height: 500px;
  }
  .about-ractagnel-bottom-img-wrapper {
    right: 50px;
  }
}
@media (max-width: 960px) {
  .main-main-section .uk-container {
    margin-top: 110px;
  }
  .digitals-ractangle-img-wrapper {
    right: auto;
    top: -530px !important;
    left: -460px !important;
  }
  .advantage-ractangle-img-wrapper {
    right: -620px;
  }
  .speciality-ractangle-img-wrapper {
    top: -170px;
  }
  .about-ractagnel-bottom-img-wrapper {
    right: -250px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .form-send-link {
    margin-top: 50px !important;
  }
}
@media (max-width: 760px) {
  .advantage-ractangle-img-wrapper {
    top: -790px;
  }
  .speciality-ractangle-img-wrapper {
    top: -130px;
  }
}
@media (max-width: 640px) {
  .uk-offcanvas-flip .uk-offcanvas-bar a {
    font-size: 18px;
  }
  .nav-socials-wrapper {
    position: static !important ;
  }
  .nav-socials-wrapper ul {
    flex-direction: row;
    padding: 0;
    margin-top: 30px;
  }
  .nav-socials-wrapper ul li {
    margin-top: 0 !important;
    margin-right: 15px;
  }
  .nav-content-bottom {
    margin-top: 0;
  }
  .main-main-section .uk-container {
    margin-top: 100px;
  }
  .main-top-left-rectangle img {
    width: 230px;
  }
  .speciality-ractangle-img-wrapper {
    left: -424px;
    top: -150px;
  }
  .about-text-side-wrapper {
    min-height: 440px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .about-main-content-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .uk-container {
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media (max-width: 540px) {
  .speciality-ractangle-img-wrapper {
    left: -550px;
  }
}
@media (max-width: 450px) {
  .speciality-ractangle-img-wrapper {
    left: -550px;
    top: -110px;
  }
}

// animations start 
.form-img-1 {
  animation: form1 5s ease-in-out 0.01s infinite forwards;
}
.form-img-2 {
  animation: form2 5s ease-in-out 0.01s infinite forwards;
}
.form-img-3 {
  animation: form3 5s ease-in-out 0.01s infinite forwards;
}
@keyframes form1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
  50% {
    transform: translate3d(-10px, 12px, 13px) rotate(8deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
}
@keyframes form2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
  50% {
    transform: translate3d(10px, -12px, -13px) rotate(8deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
}
@keyframes form3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
  50% {
    transform: translate3d(0, -12px, 12px) rotate(8deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
}
.line-animation {
  position: relative;
}

.line-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #111;
  bottom: -7px;
  left: 0;
  border-radius: 10px;
}

.line-animation:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #111;
  bottom: -7px;
  left: 0%;
  border-radius: 10px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.degree-text-side:hover .degree-img-1 {
  transform: translate3d(-50px, -60px, 75px);
  transition: all 0.7s ease-in-out;
}
.degree-img-1 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.degree-img-2 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.degree-img-3 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.degree-img-1:hover {
  transform: translate3d(-50px, -60px, 75px);
  transition: all 0.7s ease-in-out;
}
.degree-img-2:hover {
  transform: translate3d(-70px, 50px, 75px);
  transition: all 0.7s ease-in-out;
}
.degree-img-3:hover {
  transform: translate3d(50px, -20px, 75px);
  transition: all 0.7s ease-in-out;
}
.vod-img-1 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.vod-img-2 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.vod-img-3 {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.vod-img-1:hover {
  transform: translate3d(20px, -60px, 75px);
  transition: all 0.7s ease-in-out;
}
.vod-img-2:hover {
  transform: translate3d(-50px, 10px, 75px);
  transition: all 0.7s ease-in-out;
}
.vod-img-3:hover {
  transform: translate3d(50px, 50px, 75px);
  transition: all 0.7s ease-in-out;
}
.anim-circle {
  animation: circle 5s ease infinite backwards;
  transition: all 0.3s ease;
}
@keyframes circle {
  0% {
    transform: translate3d(10px, -10px, 75px);
  }
  30% {
    transform: translate3d(-20px, -15px, 75px);
  }
  50% {
    transform: translate3d(-30px, -25px, 75px);
  }
  80% {
    transform: translate3d(-25px, -15px, 75px);
  }
  100% {
    transform: translate3d(10px, -10px, 75px);
  }
}
// animatins end
@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}